[submodule "3rdparty/verdigris"]
	path = 3rdparty/verdigris
	url = https://github.com/woboq/verdigris.git
[submodule "3rdparty/android_openssl"]
	path = 3rdparty/android_openssl
	url = https://github.com/KDAB/android_openssl.git
[submodule "3rdparty/DuckX"]
	path = 3rdparty/DuckX
	url = https://github.com/amiremohamadi/DuckX.git
